# Dependencies
node_modules/
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
